:root {
    --primary-color: #ff9854 !important;
    --line-color: #efefef;
    --van-search-left-icon-color: #ff9854 !important;
    --van-primary-color: var(--primary-color);
    --van-tab-active-text-color: var(--primary-color) !important;
    --van-nav-bar-title-text-color: var(--primary-color) !important;
    --van-tabs-bottom-bar-color: var(--van-primary-color) !important;
}
body {
    font-size: 14px;
}


.bottom-gray-line {
    border-bottom: 1px solid var(--line-color);
}

.icon_check {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url(../img/detail/icon_check.png) 0 0 / 100% 100%;
}

.top-page {
    position: relative;
    z-index: 9;
    height: 100vh;
    background-color: #fff;
    overflow-y: auto;
}

.ellipsis-text-1 {
    overflow: hidden;
    word-wrap: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.ellipsis-text-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}